body {
    background: #FFFFFF;
    font-family: "Lato", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #121212;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
    position: fixed;
    right: 10px;
    top: 20%;
    padding: 10px;
}

#text-alarm {
    font-size: 60px;
    text-align: center;
    margin: 30px 0;
}

#time {
    height: 120px;
    width: 335px;
    line-height: 120px;
    text-align: center;
    padding: 0 30px;
    margin: 0 5px;
    box-shadow: -1px -1px 3px rgba(255,255,255,0.05),
    1px 1px 2px rgba(0,0,0,0.5);
    font-size: 60px;
    letter-spacing: 5px;
}

#alarm-items {
    margin: 40px 5px;
    display: flex;
    justify-content:space-between;
}

.mdc-text-field {
    width: 100px;
}

.mdc-button1 {
    margin-left: 25px;
    cursor: pointer
}

#alarm-list-title {
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 25px;
    box-shadow: -1px -1px 3px rgba(255,255,255,0.05),
    1px 1px 2px rgba(0,0,0,0.5);
}

.mdc-card.mdc-card--outlined {
    margin: 0 5px;
}

.my-card-content {
    padding: 16px;
    display: flex;
    justify-content: center;
}

.my-card {
    height: 350px;
    width: 350px;
}

section {
    font-size: 20px;
    box-shadow: -1px -1px 3px rgba(255,255,255,0.05),
    1px 1px 2px rgba(0,0,0,0.5);
    display: flex;
    justify-content: space-between;
}

.alarm-list-display-time {
    margin: 10px;
    padding: 8px;
}

.mdc-button2 {
    margin: 10px;
    cursor: pointer
}

.fullscreen-alarm {
    display: none;
    background: #FFFFFF;
    border: #666666 solid 1px;
    box-shadow: -1px -1px 3px rgba(255,255,255,0.05),
    1px 1px 2px rgba(0,0,0,0.5);
    border-radius: 5px;
    position: fixed;
    margin: -250px 5px;
    height: 335px;
    width: 335px;
    line-height: 100px;
    text-align: center;
}

.alarm-items-fullscreen {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.alarm-gif {
    display: flex;
    margin-top: 10px;
    margin-left: 40%;
    width: 20%;
    height: 20%;
    border-radius: 30px;
    box-shadow: -1px -1px 3px rgba(255,255,255,0.05),
    1px 1px 2px rgba(0,0,0,0.5);
}

.alarm-stop {
    font-size: 50px;
    cursor: pointer;
    user-select: none;
    text-transform: uppercase;
    color: mediumpurple;
    border: 1px solid #666;
    box-shadow: -1px -1px 3px rgba(255,255,255,0.05),
    1px 1px 2px rgba(0,0,0,0.5);
    border-radius: 5px;
    width: 230px;
    margin: 45px auto;
    text-align: center;
    transition: 1s;
}

.alarm-stop:hover {
    color: rebeccapurple;
    background-color: transparent;
    border-color: #666;
    transform: scale(1.1);
}